@font-face{font-family:"Onest";src:url("fonts/onest.woff?v=4f4c64b087") format("woff");font-weight:400 700;font-style:normal;font-display:swap}
@font-face{font-family:"Gabarito";src:url("fonts/gabarito.woff?v=93847f6ea4") format("woff");font-weight:600 700;font-style:normal;font-display:swap}
@font-face{font-family:"IBM Plex Mono";src:url("fonts/ibm-plex-mono.woff?v=f12f5932f9") format("woff");font-weight:500;font-style:normal;font-display:swap}
