@font-face{font-family:"Onest";src:url("fonts/onest.woff?v=c815bc184b") format("woff");font-weight:400 700;font-style:normal;font-display:swap}
@font-face{font-family:"Gabarito";src:url("fonts/gabarito.woff?v=7a96136f61") format("woff");font-weight:600 700;font-style:normal;font-display:swap}
@font-face{font-family:"IBM Plex Mono";src:url("fonts/ibm-plex-mono.woff?v=cd696f8212") format("woff");font-weight:500;font-style:normal;font-display:swap}
